.toggleBar {
    display: flex;
    justify-content: center;
    button {
      background-color: indianred;
      border: 0px;
      color: white;
      height: 40px;
      font-size: 14px;
    }
  }